*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.images.not-visible{
    transform: translate(50px);
    opacity: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Barlow';
    font-size: 18px;
    letter-spacing: 0.15em;
}

img{
    display: block;
    max-width: 100%;  /* Max width 100% mais si elle n'a plus la place, elle va se reduire */
}

/* LINK */
a:link {
    color: black;
    text-decoration: none; 
    background-color: transparent;
}

a:visited  { color: black; 
    text-decoration: none; 
    background-color: transparent;
}

a:hover { 
    color:gray; 
    text-decoration: none; 
    background-color: transparent ;
}


/* BOUTON */
button{
    width: 201px;
    height: 61px;
    background: #FFFFFF;
    border: none;
    font-family: 'Barlow';
    font-size: 18px;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.button2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}


/* TITRES  & PARAGRAPHES*/
h1{
    font-weight: bold;
    font-size: clamp(20px, 13vw, 30px);
    color: #FFFFFF;
    margin-bottom: 31px;
}

h2{
    font-family: 'Barlow';
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.15em;
    margin-bottom: 35px;
}

p{
    margin-bottom: 35px;
}


/* DISPLAY */
.flex{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.column{
    flex-direction: column;
}


/* SECTION */
section{
    margin-bottom: 86px;
}


/* ************************************************************ */
/************************* PAGE ACCUEIL *************************/
/* ************************************************************ */

/* **********************MENU DESKSTOP*********************** */
.menuCache{
    position: fixed;
    top: 0;
    left: 0; 
    background: white;
    height: min(50%, auto);
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    transform: translateY(-100%);  
    transition: .5s;
    z-index: -1;
}

.menuCache_open{
    transform: translateY(0); 
}

ul{
    list-style: none;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 50px;
}

li{
    margin-bottom: 10px;
}

.insideMenu {
    margin:122px;
    gap: 60px;
    justify-content: flex-start;
    align-items: flex-start;
}


.dropdown{
z-index: 1; 
}

.semiBold{
    font-weight: 500;
} 


/* **********************STICKY*********************** */


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

 .sticky2 {position: sticky;} 


/* **************************SECTION 1************************* */


/* HEADER TOP */
#myHeader {z-index: 10;}

.headerTop{
    background: #C4C4C4;
    justify-content: center;
    padding:  15px 122px;
}

.section1 .headerTop .fraisEnvois{
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
}

/* .section1 .headerTop .logo{
    position: absolute;
    left: 122px;
    display: block;
    align-self: center;
} */

.accueilLogo {
    position: absolute;
    left: 122px;
    display: block;
    align-self: center;
}


.logoCache{
display:none;
}

.section1 header{
    background: white;
    width: 100%; 
    padding: 10px 122px;
    justify-content: space-between;
}

.section1 header nav {
    justify-content: space-around;
    gap: 50px;
}

.section1 header .icones{
    gap: 50px;
}

.burger{
    display: none;
}


/* ACCUEIL-PHOTO */
.accueil{
    background: url('images/img_articles_4.png') no-repeat center / cover;
    min-height: 784px;
    
}

.titreREsponsive{
    display: none;
}

/* ************************************************************** */
/* **************************SECTION 2************************* */



.section1 .nav2 {
    align-items: center;
    justify-content: space-between;
    padding: 10px 122px;
    background: #C4C4C4;
    font-size: clamp(7px, 7vw, 15px);
   
}

.section1 .nav2 span {
    border: 1px solid #434242;
    transform: rotate(90deg);
    width: 20px;
    height: 0px;
    
} 

/* *****************SECTION 3************************ */

.section3 {
    font-family:"Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: clamp(7px,7vw,13px);
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.15em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 79px;
    row-gap: 51px;

    margin-left: 122px;
    margin-right: 122px;
    
}



.section3 .article {
    gap: 22px;
   
}
.section3 .nom-prix {
    justify-content: space-between;
    width: 100%;  
    
}

.section3 .titre-art {
    
    align-self: flex-start;
    font-weight: 300;
    font-size: 16px;
    
}

.section3 p {
    align-self: flex-end
}



/********** HOVER IMG ***********/
/* Conteneur principal */
.overlay-image {
    position: relative;
    min-width: 100%;
   }
   
   /* Image originale */
   .overlay-image .image {
    display: block;
    /* width: 100%; */
    /* height: auto; */
   }

   /* Overlay */
.overlay-image .hover {
    position: absolute;
    top: 0;
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    transition: .5s ease;
   }
   
   /* Apparition overlay sur passage souris*/
   .overlay-image:hover .hover {
    opacity: 1;
   } 

/* *************************** FOOTER *******************************/
/* **************************SECTION 5************************* */
.section5{
    margin-bottom: 45px;
}
.liste{
    justify-content: space-around;
    list-style: none;
    gap: 50px;
    cursor: pointer;
    flex-wrap: wrap;
    font-size: 15px;
}

/* **************************SECTION 6************************* */
.section6{
    margin-bottom: 0;
    background: #454546;
    padding: 10px 122px;
    justify-content: flex-end;
}





/* ************************************************************** */
/************************* MEDIA QUERIES *************************/
/* ************************************************************* */


/* ******************************************************* */
/************************* 1155PX *************************/

@media (max-width: 1155px){
    
    /* SECTION 3  */
   .section3{
      font-size: 10px;}
       .section3 .titre-art {   
       font-size: 12px;
}} 

/* ******************************************************* */
/************************* 1000PX *************************/

@media (max-width: 1000px){

   /* SECTION 3 */
   .section3{
       font-size: 8px;}
       .section3 .titre-art {   
        font-size: 10px;}

   /* SECTION 5 */
   .section5{
      font-size: 15px;

}}

/* ******************************************************* */
/************************* 900PX *************************/


@media (max-width: 900px){
   
   /* SECTION 3 */
   .section3{
       font-size: 7px;}
       .section3 .titre-art {   
       font-size: 9px;}
   }

/* ******************************************************* */
/************************* 860PX *************************/

@media (max-width: 860px){
       /* SECTION 3 */
       .section3{
           font-size: 7px;
       letter-spacing: 0.1em;}

           .section3 .titre-art {   
            font-size: 8px;}
           }
/* ****************************************************** */
/************************* 822PX *************************/


@media (max-width: 822px){

   /* **************************SECTION 1************************* */
   .menuCache{
    display: none;
        }
   /* HEADER TOP */
   .headerTop{
       justify-content: center;
       padding:  10px 20px;
   } 

   .section1 .headerTop .logo{
   display: none;
   } 


   /* HEADER */
   .logoCache{
       display:flex;
   }


   .section1 header{
       padding: 3px 50px;
       justify-content: space-between;
   }

   .section1 header .icones{
       gap: 20px;
   }

   

   /* BURGER */
   .burger{
       display: block;
       cursor: pointer;
   }

   .burger span{
       width: 30px;
       height: 3px;
       background:#434141;
       border-radius: 54px;
       margin: 6px 0;
       display: block;  /* span sont des elements de types inline, display block permet de les faire prendre toutes la largeur et de commencer a la ligne */
   }
     
   .burger{
       padding: 10px;
       z-index: 1; 
   }

   nav{
       position: fixed;
       top: 0;
       left: 0; 
       background: white;
       height: 100%;
       width: 100%;
       flex-direction: column;
       justify-content: center !important;
       transform: translateY(-100%);  /* translateX je deplace de 100% de sa taille vers la droite  -- -100% ca irait vers la gauche  - si on met Y ca change l'axe vers le haut ou le bas*/
       transition: .5s;
   }

   .section1 .nav2 {
       
       padding: 10px 40px 10px 40px;

       
   }
   
   .menu-open{
       transform: translateY(0); /* quand je clique mon menu revient en position normal */
   }

  /* SECTION 3 */
   .section3 {
      
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto;
       grid-gap: 79px;
       row-gap: 51px;
       margin: 0px 122px 30px 122px;
       font-size: 12px;
       letter-spacing: 0.15em;}
       
       .section3 .titre-art {   
       font-size: 14px;
   }
          
   /* FOOTER */

   .section5 {
       font-size: 10px;
}   
}

/* ******************************************************* */
/************************* 730PX *************************/

@media (max-width: 730px){

       /* FOOTER */
       .section5 {
           font-size: 12px;
           margin-bottom: 20px;
        }
           
           .liste{
               justify-content: space-around;
               list-style: none;
               gap: 20px;
               cursor: pointer;
               flex-wrap: wrap;
           
   } 
}


/* ******************************************************* */
/************************* 630PX *************************/

@media (max-width: 630px){

       /* SECTION 3 */

       .section3 {font-size: 8px;}
           .section3 .titre-art {   
           font-size: 10px;
       }}
       


/* ****************************************************** */
/************************* 600PX *************************/
@media (max-width: 600px){

       /* SECTION 3 */
       .section3 {
           
           margin-bottom: 30px;
       
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: auto;
           grid-gap: 79px;
           row-gap: 51px;
           
           margin-left: 20px;
           margin-right: 20px;}   


       /* FOOTER */
       .section5 {
           display: flex;
           flex-wrap: wrap;
           font-size: 10px;
           gap: 3px;

           }

           .section5>* {
               flex: 0 0 50%;
           }
       }
   

/* ****************************************************** */
/************************* 550PX *************************/

@media (max-width: 550px){
       /* NAV2 */
       .section1 .nav2 {
           padding: 10px 20px 10px 20px;}

       /* SECTION 3 */
    

       .section3 .nom-prix {
           flex-wrap: wrap;
           gap: 6px;
           justify-content: center;
           align-self: center;}

       .titre-art {
           align-items: center;
           align-self: center;
           margin: 0;}

       .section3 p {align-self: center;}  
       
}


/* ****************************************************** */
/************************* 400PX *************************/
@media (max-width: 400px){


       /* HEADER */
       .logoCache{
           display:flex;
           }
       .section1 header nav {
           display: none;
       }
    /* SECTION 1 */

       .section1 header{
           padding: 3px 10px;
           justify-content: space-between;
       }

       .section1 .nav2 {
       padding: 10px;
       font-size: 13px;
       

   }
    
}
