*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.images.not-visible{
    transform: translate(50px);
    opacity: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Barlow';
    font-size: 18px;
    letter-spacing: 0.15em;
}

img{
    display: block;
    max-width: 100%;  /* Max width 100% mais si elle n'a plus la place, elle va se reduire */
}

/* LINK */
a:link {
    color: black;
    text-decoration: none; 
    background-color: transparent;
}

a:visited  { color: black; 
    text-decoration: none; 
    background-color: transparent;
}

a:hover { 
    color:gray; 
    text-decoration: none; 
    background-color: transparent ;
}




/* BOUTON */
button{
    width: 201px;
    height: 61px;
    background: #FFFFFF;
    border: none;
    font-family: 'Barlow';
    font-size: 18px;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.button2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}


/* TITRES  & PARAGRAPHES*/
h1{
    font-weight: bold;
    font-size: clamp(20px, 13vw, 30px);
    color: #FFFFFF;
    margin-bottom: 31px;
}

h2{
    font-family: 'Barlow';
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.15em;
    margin-bottom: 35px;
}

p{
    margin-bottom: 35px;
}


/* DISPLAY */
.flex{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.column{
    flex-direction: column;
}


/* SECTION */
section{
    margin-bottom: 86px;
}


/* ************************************************************ */
/************************* PAGE ACCUEIL *************************/
/* ************************************************************ */


.intro {
    background:#C4C4C4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  
  .hide {
    background: none;
    overflow: hidden;
  }

.big-text{
    position: absolute;
    transform: translate(-50%, -30%);
}





/* **************************SECTION 1************************* */

/* HEADER TOP */
.headerTop{
    background: #C4C4C4;
    justify-content: space-between;
    padding:  10px 122px;
}

.section1 .headerTop .fraisEnvois{
    font-size: 12px;
    align-self: center;
    margin-bottom: 0;
}

/* HEADER */

.logoCache{
display:none;
}

.section1 header{
    background: white;
    position: fixed;

    width: 100%; 
    padding: 10px 122px;
    justify-content: space-between;
}

.section1 header nav {
    justify-content: space-around;
    gap: 50px;
}

.section1 header .icones{
    gap: 50px;
}

.burger{
    display: none;
}

/* ACCUEIL-PHOTO */
.accueil{
    background: url('images/img_bg_accueil.png') no-repeat center / cover;
    min-height: 784px;
}

.titreREsponsive{
    display: none;
}


/* **************************SECTION 2************************* */


.section2{
    gap: 170px;
    flex-wrap: wrap-reverse;  
}

.description{
    justify-content: flex-start;
}


/* **************************SECTION 3************************* */
.maillot{
background: url('images/img_section3_maillot.png') no-repeat center / cover;
min-height:784px;
}


/* **************************SECTION 4************************* */
.section4{
    gap: 170px;
    flex-wrap: wrap;  
}


/* **************************SECTION 5************************* */
.section5{
    margin-bottom: 45px;
}
.liste{
    justify-content: space-around;
    list-style: none;
    gap: 50px;
    cursor: pointer;
    flex-wrap: wrap;
}

/* **************************SECTION 6************************* */
.section6{
    margin-bottom: 0;
    background: #454546;
    padding: 10px 122px;
    justify-content: flex-end;
}



/* ************************************************************** */
/************************* MEDIA QUERIES *************************/
/* ************************************************************* */



/* ******************************************************* */
/************************* 1140PX *************************/
@media (max-width: 1140px){
    /* ACCUEIL */
.accueil{
    background: url('images/img_accueil_left.png') no-repeat center / cover;
}


/* **************************SECTION 3************************* */
.maillot{
    background: url('images/img_section3_maillot_left.png') no-repeat center / cover;
    }


/* **************************SECTION 2************************* */
.section2{
    gap: 50px;
}    


/* **************************SECTION 4************************* */
.section4{
    gap: 50px;
}
}


/* ****************************************************** */
/************************* 822PX *************************/
@media (max-width: 822px){

    /* **************************SECTION 1************************* */
    /* HEADER TOP */
    .headerTop{
        justify-content: center;
        padding:  10px 20px;
    } 

    .section1 .headerTop .logo{
    display: none;
    } 


    /* HEADER */
    .logoCache{
        display:flex;
        }


    .section1 header{
        padding: 3px 50px;
        justify-content: space-between;
    }

    .section1 header .icones{
        gap: 20px;
    }


    /* BURGER */
    .burger{
        display: block;
        cursor: pointer;
    }

    .burger span{
        width: 30px;
        height: 3px;
        background:#434141;
        border-radius: 54px;
        margin: 6px 0;
        display: block;  /* span sont des elements de types inline, display block permet de les faire prendre toutes la largeur et de commencer a la ligne */
    }
      
    .burger{
        padding: 10px;
        z-index: 1; 
    }

    nav{
        position: fixed;
        top: 0;
        left: 0; 
        background: white;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center !important;
        transform: translateY(-100%);  /* translateX je deplace de 100% de sa taille vers la droite  -- -100% ca irait vers la gauche  - si on met Y ca change l'axe vers le haut ou le bas*/
        transition: .5s;
    }

    .menu-open{
        transform: translateY(0); /* quand je clique mon menu revient en position normal */
    }



}


/* ****************************************************** */
/************************* 375PX *************************/
@media (max-width: 400px){
    /* ACCUEIL */
    .accueil{
        background: url('images/img_accueil_phone.png') no-repeat center / cover;
    }

    .accueilContainer{
        border: 4px solid red;
        justify-content: center;
    }

    .titreREsponsive{
        display: flex;
    }

    .titreDeskstop{
        display: none;
    }

        /* HEADER */
        .logoCache{
            display:flex;
            }
        .section1 header nav {
            display: none;
        }
    
        .section1 header{
            padding: 3px 10px;
            justify-content: space-between;
        }

}
