*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Barlow';
    font-size: 18px;
    letter-spacing: 0.15em;
}

img{
    display: block;
    max-width: 100%;  /* Max width 100% mais si elle n'a plus la place, elle va se reduire */
}

/* LINK */
a:link {
    color: black;
    text-decoration: none; 
    background-color: transparent;
}

a:visited  { color: black; 
    text-decoration: none; 
    background-color: transparent;
}

a:hover { 
    color:gray; 
    text-decoration: none; 
    background-color: transparent ;
}


/* BOUTON */
button{
    width: 201px;
    height: 61px;
    background: #CBBFBF;
    border: none;
    font-family: 'Barlow';
    font-size: 18px;
    letter-spacing: 0.15em;
    cursor: pointer;
    margin-top: 40px;
}

.button2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}


/* TITRES  & PARAGRAPHES*/
h1{
    font-weight: bold;
    font-size: clamp(20px, 13vw, 30px);
    color: #FFFFFF;
    margin-bottom: 31px;
}

h2{
    font-family: 'Barlow';
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.15em;
    margin-bottom: 45px;
}

h3{
    font-family: 'Barlow';
    font-weight: normal;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

p{
    margin-bottom: 48px;
}


/* DISPLAY */
.flex{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.column{
    flex-direction: column;
}


/* SECTION */
section{
    margin-bottom: 86px;
}


/* ************************************************************ */
/************************* PAGE ACCUEIL *************************/
/* ************************************************************ */



/* **************************SECTION 1************************* */

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  


/* HEADER TOP */
.headerTop{
    background: #C4C4C4;
    justify-content: space-between;
    padding:  10px 122px;
}

.section1 .headerTop .fraisEnvois{
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
}

.section1 .headerTop .logo{
    display: block;
    align-self: center;
}

/* HEADER */
.logoCache{
display:none;
}

.section1 header{
    background: white;
    position: fixed;

    width: 100%; 
    padding: 10px 122px;
    justify-content: space-between;
}

.section1 header nav {
    justify-content: space-around;
    gap: 50px;
}

.section1 header .icones{
    gap: 50px;
}

.burger{
    display: none;
}



/* **************************SECTION 2************************* */
#content-wrapper{
    margin-top: 125px;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* .column{
	width: 600px;
	padding: 10px;
} */

#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	/* max-width: 500px; */
	display: flex;
	min-height: 100px;
	align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

#slider{
	width: auto;
	display: flex;
	flex-wrap: wrap;
	overflow-x: auto;
}

.containerDescription{
    border: 4px solid red;
    justify-content: center;
	width: 600px;
	padding: 10px;
}


/* **************************DESCRIPTION************************* */
.rectKaki{
    width: 50px;
    height: 50px;
    background: #7D855C;
    margin-bottom: 10px;
}

.taille{
   gap: 40px;
   cursor: pointer;
}

.containerIndication{
    margin-top:50px;
}

.indication{
    font-size: 16px;
    margin-bottom: 10px;
}


/* **************************SECTION 5************************* */
.section5{
    margin-top: 125px;
    margin-bottom: 45px;
}

.liste{
    justify-content: space-around;
    list-style: none;
    gap: 50px;
    cursor: pointer;
    flex-wrap: wrap;
}

/* **************************SECTION 6************************* */
.section6{
    margin-bottom: 0;
    background: #454546;
    padding: 10px 122px;
    justify-content: flex-end;
}






/* ************************************************************** */
/************************* MEDIA QUERIES *************************/
/* ************************************************************* */



/* ****************************************************** */
/************************* 822PX *************************/
@media (max-width: 822px){

    /* **************************SECTION 1************************* */
    /* HEADER TOP */
    .headerTop{
        justify-content: center;
        padding:  10px 20px;
    } 

    .section1 .headerTop .logo{
    display: none;
    } 


    /* HEADER */
    .logoCache{
        display:flex;
        }


    .section1 header{
        padding: 3px 50px;
        justify-content: space-between;
    }

    .section1 header .icones{
        gap: 20px;
    }


    /* BURGER */
    .burger{
        display: block;
        cursor: pointer;
    }

    .burger span{
        width: 30px;
        height: 3px;
        background:#434141;
        border-radius: 54px;
        margin: 6px 0;
        display: block;  /* span sont des elements de types inline, display block permet de les faire prendre toutes la largeur et de commencer a la ligne */
    }
      
    .burger{
        padding: 10px;
        z-index: 1; 
    }

    nav{
        position: fixed;
        top: 0;
        left: 0; 
        background: white;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center !important;
        transform: translateY(-100%);  /* translateX je deplace de 100% de sa taille vers la droite  -- -100% ca irait vers la gauche  - si on met Y ca change l'axe vers le haut ou le bas*/
        transition: .5s;
    }

    .menu-open{
        transform: translateY(0); /* quand je clique mon menu revient en position normal */
    }



}




/* ****************************************************** */
/************************* 500PX *************************/
@media (max-width: 500px){
    .slide{
           flex-direction: row;
           flex-wrap: wrap;
           overflow-x: auto;
       }

       #slide-wrapper{
        align-items: center;
    }

    #slider{
        flex-direction: row;
    }
   }


/* ****************************************************** */
/************************* 375PX *************************/
@media (max-width: 400px){


        /* HEADER */
        .logoCache{
            display:flex;
            }
        .section1 header nav {
            display: none;
        }
    
        .section1 header{
            padding: 3px 10px;
            justify-content: space-between;
        }

}